<a href="https://colab.research.google.com/github/joohoshin/MLDL_Basic/blob/master/11_3_read_html.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas의 read_html()을 활용해서 웹의 테이블 데이터를 가져올수 있다. 
* 좀 더 세부적인 것은 Beutifulsoup 라이브러리를 활용한다. 

https://finance.naver.com/item/main.nhn?code=005930

In [ ]:
# Clustering을 통해 재무상태가 비슷한 기업을 분류하고 싶은 경우

import pandas as pd

raw = pd.read_html('https://finance.naver.com/item/main.nhn?code=005930',encoding='cp949')

In [ ]:
raw

[                    0  ...                            2
 0  전일  59,500  59,500  ...  거래량  12,064,411  12,064,411
 1    시가  59,60059,600  ...   거래대금  722,892  722,892  백만

 [2 rows x 3 columns],      매도상위        거래량    매수상위        거개량
 0     NaN        NaN     NaN        NaN
 1      삼성  1629863.0      삼성  2194389.0
 2      한화  1186039.0    이베스트  1291397.0
 3    이베스트  1178846.0      한화   925853.0
 4  NH투자증권   660549.0    한국증권   667283.0
 5  미래에셋대우   333182.0    메릴린치   245194.0
 6  외국계추정합   379060.0  +1,209   380269.0,       날짜       종가      전일비         외국인        기관
 0    NaN      NaN      NaN         NaN       NaN
 1  10/16  59500.0  하향  500     -566793  +122,602
 2  10/15  60000.0  하향  900     -815079   -238001
 3  10/14  60900.0       보합  +1,897,862   -202689
 4  10/13  60900.0  상향  500  +2,150,744  +621,683
 5  10/12  60400.0  상향  700  +3,203,192  +758,916
 6  10/08  59700.0  하향  200  +4,681,427  -3336344
 7    NaN      NaN      NaN         NaN       NaN,        주요재무정보    최근 연간 실적              ...   최근 분기 실적
        주요재무정보     2017.12     2018.12  ...    2020.03    2020.06 2020.09(E)
        주요재무정보      IFRS연결      IFRS연결  ...     IFRS연결     IFRS연결     IFRS연결
 0         매출액  2395754.00  2437714.00  ...  553252.00  529661.00  639082.00
 1        영업이익   536450.00   588867.00  ...   64473.00   81463.00  102603.00
 2       당기순이익   421867.00   443449.00  ...   48849.00   55551.00   77786.00
 3       영업이익률       22.39       24.16  ...      11.65      15.38      16.05
 4        순이익률       17.61       18.19  ...       8.83      10.49      12.17
 5   ROE(지배주주)       21.01       19.63  ...       8.45       8.49        NaN
 6        부채비율       40.68       36.97  ...      34.19      32.67        NaN
 7        당좌비율      181.61      204.12  ...     237.80     250.04        NaN
 8         유보율    24536.12    27531.92  ...   29134.12   29477.97        NaN
 9      EPS(원)     5421.00     6024.00  ...     720.00     808.00    1224.00
 10     PER(배)        9.40        6.42  ...      15.24      16.52      47.56
 11     BPS(원)    30427.00    35342.00  ...   38053.00   38534.00        NaN
 12     PBR(배)        1.67        1.09  ...       1.25       1.37        NaN
 13   주당배당금(원)      850.00     1416.00  ...        NaN        NaN        NaN
 14   시가배당률(%)        1.67        3.66  ...        NaN        NaN        NaN
 15    배당성향(%)       14.09       21.92  ...        NaN        NaN        NaN

 [16 rows x 11 columns],            종목명 삼성전자*005930 SK하이닉스*000660  솔브레인357780  리노공업058470 DB하이텍*000990
 0          현재가       59800         86600      226000      112700        35350
 1         전일대비     상향  300     상향  1,300   하향  5,200   하향  2,200      하향  750
 2          등락률  상향  +0.50%    상향  +1.52%  하향  -2.25%  하향  -1.91%   하향  -2.08%
 3      시가총액(억)     3569929        630450       17579       17178        15694
 4     외국인비율(%)       56.09         49.14       22.43       42.49        29.64
 5       매출액(억)      529661         86065         NaN         548         2417
 6      영업이익(억)       81463         19467         NaN         209          771
 7    조정영업이익(억)       81463         19467         NaN         209          771
 8   영업이익증가율(%)       26.35        143.25         NaN        4.92        19.03
 9     당기순이익(억)       55551         12643         NaN         160          504
 10    주당순이익(원)      808.07       1734.73         NaN     1047.76      1131.24
 11      ROE(%)        8.49          4.71         NaN       20.85        24.51
 12      PER(%)       18.71         27.58         NaN       28.08         9.68
 13      PBR(배)        1.55          1.20         NaN        5.42         2.09,           0                1
 0      시가총액  356조  9,930  억원
 1    시가총액순위           코스피 1위
 2     상장주식수       5969782550
 3  액면가l매매단위      100원  l  1주,              0           1
 0  외국인한도주식수(A)  5969782550
 1  외국인보유주식수(B)  3348684518
 2  외국인소진율(B/A)      56.09%,            0                  1
 0  투자의견l목표주가  4.00매수  l  76,008
 1   52주최고l최저  62,800  l  42,300,                    0                  1
 0   PERlEPS(2020.06)  18.71배  l  3,196원
 1          추정PERlEPS  15.00배  l  4,085원
 2  PBRlBPS (2020.06)  1.55배  l  38,534원
 3      배당수익률l2019.12              2.37%,           0       1
 0  동일업종 PER  17.90배
 1  동일업종 등락률  +0.62%,          매도잔량 호가(20분지연)       매수잔량
 0         NaN       NaN        NaN
 1    147743.0     60700        NaN
 2    166323.0     60600        NaN
 3    422395.0     60500        NaN
 4    480947.0     60400        NaN
 5    366298.0     60300        NaN
 6    384721.0     60200        NaN
 7    501991.0     60100        NaN
 8    348642.0     60000        NaN
 9    215274.0     59900        NaN
 10   187750.0     59800        NaN
 11        NaN       NaN        NaN
 12        NaN     59700   161803.0
 13        NaN     59600   132439.0
 14        NaN     59500   293119.0
 15        NaN     59400   244378.0
 16        NaN     59300   185352.0
 17        NaN     59200   195865.0
 18        NaN     59100   241364.0
 19        NaN     59000   301488.0
 20        NaN     58900   241890.0
 21        NaN     58800   156594.0
 22        NaN       NaN        NaN
 23  3222084.0      잔량합계  2154292.0,       업체명       거래량         전일비
 0     빅히트  189000.0  하향  11,500
 1     KEC    2740.0    상한가  630
 2    삼성전자   59900.0     상향  400
 3   두산중공업   13350.0   상향  1,300
 4    제일약품   49550.0  상향  11,000
 5     NaN       NaN         NaN
 6     현대차  168000.0   하향  4,000
 7    LG화학  615000.0  하향  25,000
 8    신풍제약  127500.0   상향  8,500
 9    셀트리온  255500.0   하향  1,000
 10    카카오  352500.0   하향  5,000,          업체명       거래량         전일비
 0      헬릭스미스   21550.0  하한가  9,200
 1         씨젠  276800.0   하향  7,100
 2      이오플로우   40950.0   하향  6,050
 3     엑세스바이오   27500.0   하향  2,400
 4     우리기술투자    2910.0     상향  650
 5        NaN       NaN         NaN
 6      일신바이오    7280.0     상향  500
 7        유니슨    5190.0     하향  700
 8     케이피엠테크    4055.0     하향  210
 9   필로시스헬스..    5540.0     하향  760
 10    카카오게임즈   45050.0     하향  800]

In [ ]:
type(raw)

list

In [ ]:
raw[0]

                    0  ...                            2
0  전일  59,500  59,500  ...  거래량  12,064,411  12,064,411
1    시가  59,60059,600  ...   거래대금  722,892  722,892  백만

[2 rows x 3 columns]

In [ ]:
type(raw[0])

pandas.core.frame.DataFrame

In [ ]:
raw[1]

     매도상위        거래량    매수상위        거개량
0     NaN        NaN     NaN        NaN
1      삼성  1629863.0      삼성  2194389.0
2      한화  1186039.0    이베스트  1291397.0
3    이베스트  1178846.0      한화   925853.0
4  NH투자증권   660549.0    한국증권   667283.0
5  미래에셋대우   333182.0    메릴린치   245194.0
6  외국계추정합   379060.0  +1,209   380269.0

In [ ]:
len(raw)

13

In [ ]:
raw = pd.read_html('https://finance.naver.com/item/main.nhn?code=005930',attrs={'class':'tb_type1 tb_num tb_type1_ifrs'},encoding='cp949')

In [ ]:
raw

[       주요재무정보    최근 연간 실적              ...   최근 분기 실적
        주요재무정보     2017.12     2018.12  ...    2020.03    2020.06 2020.09(E)
        주요재무정보      IFRS연결      IFRS연결  ...     IFRS연결     IFRS연결     IFRS연결
 0         매출액  2395754.00  2437714.00  ...  553252.00  529661.00  639082.00
 1        영업이익   536450.00   588867.00  ...   64473.00   81463.00  102603.00
 2       당기순이익   421867.00   443449.00  ...   48849.00   55551.00   77786.00
 3       영업이익률       22.39       24.16  ...      11.65      15.38      16.05
 4        순이익률       17.61       18.19  ...       8.83      10.49      12.17
 5   ROE(지배주주)       21.01       19.63  ...       8.45       8.49        NaN
 6        부채비율       40.68       36.97  ...      34.19      32.67        NaN
 7        당좌비율      181.61      204.12  ...     237.80     250.04        NaN
 8         유보율    24536.12    27531.92  ...   29134.12   29477.97        NaN
 9      EPS(원)     5421.00     6024.00  ...     720.00     808.00    1224.00
 10     PER(배)        9.40        6.42  ...      15.24      16.52      47.56
 11     BPS(원)    30427.00    35342.00  ...   38053.00   38534.00        NaN
 12     PBR(배)        1.67        1.09  ...       1.25       1.37        NaN
 13   주당배당금(원)      850.00     1416.00  ...        NaN        NaN        NaN
 14   시가배당률(%)        1.67        3.66  ...        NaN        NaN        NaN
 15    배당성향(%)       14.09       21.92  ...        NaN        NaN        NaN

 [16 rows x 11 columns]]

In [ ]:
type(raw)

list

In [ ]:
len(raw)

1

In [ ]:
raw[0]

       주요재무정보    최근 연간 실적              ...   최근 분기 실적
       주요재무정보     2017.12     2018.12  ...    2020.03    2020.06 2020.09(E)
       주요재무정보      IFRS연결      IFRS연결  ...     IFRS연결     IFRS연결     IFRS연결
0         매출액  2395754.00  2437714.00  ...  553252.00  529661.00  639082.00
1        영업이익   536450.00   588867.00  ...   64473.00   81463.00  102603.00
2       당기순이익   421867.00   443449.00  ...   48849.00   55551.00   77786.00
3       영업이익률       22.39       24.16  ...      11.65      15.38      16.05
4        순이익률       17.61       18.19  ...       8.83      10.49      12.17
5   ROE(지배주주)       21.01       19.63  ...       8.45       8.49        NaN
6        부채비율       40.68       36.97  ...      34.19      32.67        NaN
7        당좌비율      181.61      204.12  ...     237.80     250.04        NaN
8         유보율    24536.12    27531.92  ...   29134.12   29477.97        NaN
9      EPS(원)     5421.00     6024.00  ...     720.00     808.00    1224.00
10     PER(배)        9.40        6.42  ...      15.24      16.52      47.56
11     BPS(원)    30427.00    35342.00  ...   38053.00   38534.00        NaN
12     PBR(배)        1.67        1.09  ...       1.25       1.37        NaN
13   주당배당금(원)      850.00     1416.00  ...        NaN        NaN        NaN
14   시가배당률(%)        1.67        3.66  ...        NaN        NaN        NaN
15    배당성향(%)       14.09       21.92  ...        NaN        NaN        NaN

[16 rows x 11 columns]

In [ ]:
fin_df = raw[0]

In [ ]:
type(fin_df)

pandas.core.frame.DataFrame

In [ ]:
fin_df.columns

MultiIndex([(  '주요재무정보',     '주요재무정보', '주요재무정보'),
            ('최근 연간 실적',    '2017.12', 'IFRS연결'),
            ('최근 연간 실적',    '2018.12', 'IFRS연결'),
            ('최근 연간 실적',    '2019.12', 'IFRS연결'),
            ('최근 연간 실적', '2020.12(E)', 'IFRS연결'),
            ('최근 분기 실적',    '2019.06', 'IFRS연결'),
            ('최근 분기 실적',    '2019.09', 'IFRS연결'),
            ('최근 분기 실적',    '2019.12', 'IFRS연결'),
            ('최근 분기 실적',    '2020.03', 'IFRS연결'),
            ('최근 분기 실적',    '2020.06', 'IFRS연결'),
            ('최근 분기 실적', '2020.09(E)', 'IFRS연결')],
           )

In [ ]:
fin_df.columns.get_level_values(2)

Index(['주요재무정보', 'IFRS연결', 'IFRS연결', 'IFRS연결', 'IFRS연결', 'IFRS연결', 'IFRS연결',
       'IFRS연결', 'IFRS연결', 'IFRS연결', 'IFRS연결'],
      dtype='object')

In [ ]:
fin_df.columns= fin_df.columns.get_level_values(1)

In [ ]:
fin_df.columns

Index(['주요재무정보', '2017.12', '2018.12', '2019.12', '2020.12(E)', '2019.06',
       '2019.09', '2019.12', '2020.03', '2020.06', '2020.09(E)'],
      dtype='object')

In [ ]:
fin_df = fin_df.T

In [ ]:
fin_df

                     0       1       2   ...        13        14       15
주요재무정보              매출액    영업이익   당기순이익  ...  주당배당금(원)  시가배당률(%)  배당성향(%)
2017.12     2.39575e+06  536450  421867  ...       850      1.67    14.09
2018.12     2.43771e+06  588867  443449  ...      1416      3.66    21.92
2019.12     2.30401e+06  277685  217389  ...      1416      2.54    44.73
2020.12(E)  2.38112e+06  370283  278643  ...      1475       NaN      NaN
2019.06          561271   65971   51806  ...       NaN       NaN      NaN
2019.09          620035   77779   62877  ...       NaN       NaN      NaN
2019.12          598848   71603   52270  ...       NaN       NaN      NaN
2020.03          553252   64473   48849  ...       NaN       NaN      NaN
2020.06          529661   81463   55551  ...       NaN       NaN      NaN
2020.09(E)       639082  102603   77786  ...       NaN       NaN      NaN

[11 rows x 16 columns]

In [ ]:
fin_df.columns = fin_df.iloc[0,:]

In [ ]:
fin_df.head()

주요재무정보              매출액    영업이익   당기순이익  ...  주당배당금(원)  시가배당률(%)  배당성향(%)
주요재무정보              매출액    영업이익   당기순이익  ...  주당배당금(원)  시가배당률(%)  배당성향(%)
2017.12     2.39575e+06  536450  421867  ...       850      1.67    14.09
2018.12     2.43771e+06  588867  443449  ...      1416      3.66    21.92
2019.12     2.30401e+06  277685  217389  ...      1416      2.54    44.73
2020.12(E)  2.38112e+06  370283  278643  ...      1475       NaN      NaN

[5 rows x 16 columns]

In [ ]:
fin_df.drop(['주요재무정보'], inplace=True)

In [ ]:
fin_df

주요재무정보              매출액    영업이익   당기순이익  영업이익률  ... PBR(배) 주당배당금(원) 시가배당률(%) 배당성향(%)
2017.12     2.39575e+06  536450  421867  22.39  ...   1.67      850     1.67   14.09
2018.12     2.43771e+06  588867  443449  24.16  ...   1.09     1416     3.66   21.92
2019.12     2.30401e+06  277685  217389  12.05  ...   1.49     1416     2.54   44.73
2020.12(E)  2.38112e+06  370283  278643  15.55  ...   1.47     1475      NaN     NaN
2019.06          561271   65971   51806  11.75  ...   1.28      NaN      NaN     NaN
2019.09          620035   77779   62877  12.54  ...    1.3      NaN      NaN     NaN
2019.12          598848   71603   52270  11.96  ...   1.49      NaN      NaN     NaN
2020.03          553252   64473   48849  11.65  ...   1.25      NaN      NaN     NaN
2020.06          529661   81463   55551  15.38  ...   1.37      NaN      NaN     NaN
2020.09(E)       639082  102603   77786  16.05  ...    NaN      NaN      NaN     NaN

[10 rows x 16 columns]

In [ ]:
fin_df = fin_df.query('index=="2020.06"')

In [ ]:
fin_df

주요재무정보      매출액   영업이익  당기순이익  영업이익률  ... PBR(배) 주당배당금(원) 시가배당률(%) 배당성향(%)
2020.06  529661  81463  55551  15.38  ...   1.37      NaN      NaN     NaN

[1 rows x 16 columns]