<a href="https://colab.research.google.com/github/joohoshin/MLDL_Basic/blob/master/4_3_%ED%99%9C%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# numpy.random을 활용해서 가상의 성적을 만듭시다
n_student = 100

# 학생 아이디는 중복이 있으면 안됨, numpy는 choice를 사용해서 샘플링 가능, 
# 중복 없이 선택시는 replace=False 옵션 활용
student_id = np.random.choice(range(10000, 20000), n_student, replace = False) 
머신러닝 = np.random.choice(range(70, 101), n_student)
딥러닝 = np.random.choice(range(50, 101), n_student)
파이썬 = np.random.choice(range(40, 101), n_student)

In [ ]:
# pandas dataframe으로 만들어봅시다
grade_df = pd.DataFrame({'id':student_id, '머신러닝':머신러닝, '딥러닝':딥러닝, '파이썬':파이썬})
grade_df

       id  머신러닝  딥러닝  파이썬
0   12250    70   71   48
1   18711    74   67   93
2   13660    90   58   74
3   14831    82   76   69
4   18425    70   55   43
..    ...   ...  ...  ...
95  10170    98   55   60
96  12298    87   75   40
97  15967    71   51   48
98  15749    94   84   76
99  18402    81   62   54

[100 rows x 4 columns]

In [ ]:
grade_df.describe()

                 id        머신러닝         딥러닝         파이썬
count    100.000000  100.000000  100.000000  100.000000
mean   14529.200000   83.120000   73.880000   70.010000
std     2894.735413    8.997508   15.690362   16.577638
min    10029.000000   70.000000   50.000000   40.000000
25%    12086.000000   75.000000   58.000000   56.750000
50%    14517.500000   81.000000   75.500000   72.000000
75%    16398.000000   91.000000   85.250000   84.250000
max    19682.000000  100.000000  100.000000  100.000000

In [ ]:
# 구글 드라이브 연동을 위해 필요
from google.colab import drive
drive.mount('/g') #구글 드라이브를 임의의 명칭으로 지정합니다
# 구글 로그인을 위한 인증코드를 받아서 입력해줍니다

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /g

In [ ]:

# 성적 데이터를 저장해봅시다
grade_df.to_csv('/g/My Drive/ML_DL_202002/grade.csv', encoding='cp949', index = False)