<a href="https://colab.research.google.com/github/joohoshin/MLDL_Basic/blob/master/6_2_scikit_learn_%EC%98%88%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# iris 데이터를 random forest로 분류해보기

* [iris](https://miro.medium.com/max/1000/1*Hh53mOF4Xy4eORjLilKOwA.png)

* 교재 p126 ~ 129, p84 ~ 85 참고

In [ ]:
import pandas as pd

In [ ]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [ ]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [ ]:
len(iris)

150

[feature target](https://jakevdp.github.io/PythonDataScienceHandbook/figures/05.02-samples-features.png)
교재 p38 참고

In [ ]:
# 모델을 feature와 lebel로 나눔
X=iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]  # Features
y=iris['species']  # Labels

In [ ]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
# 데이터를 train, test set으로 나눔
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify = y)

In [ ]:
X_train.head()

     sepal_length  sepal_width  petal_length  petal_width
137           6.4          3.1           5.5          1.8
142           5.8          2.7           5.1          1.9
37            4.9          3.6           1.4          0.1
131           7.9          3.8           6.4          2.0
107           7.3          2.9           6.3          1.8

In [ ]:
# random forest 적용
from sklearn.ensemble import RandomForestClassifier

forest=RandomForestClassifier()
forest.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# 예측하기
y_pred=forest.predict(X_test)

In [ ]:
X_test

     sepal_length  sepal_width  petal_length  petal_width
1             4.9          3.0           1.4          0.2
99            5.7          2.8           4.1          1.3
108           6.7          2.5           5.8          1.8
103           6.3          2.9           5.6          1.8
113           5.7          2.5           5.0          2.0
23            5.1          3.3           1.7          0.5
148           6.2          3.4           5.4          2.3
134           6.1          2.6           5.6          1.4
8             4.4          2.9           1.4          0.2
89            5.5          2.5           4.0          1.3
75            6.6          3.0           4.4          1.4
26            5.0          3.4           1.6          0.4
12            4.8          3.0           1.4          0.1
55            5.7          2.8           4.5          1.3
42            4.4          3.2           1.3          0.2
92            5.8          2.6           4.0          1.2
145           6.7          3.0           5.2          2.3
24            4.8          3.4           1.9          0.2
106           4.9          2.5           4.5          1.7
73            6.1          2.8           4.7          1.2
28            5.2          3.4           1.4          0.2
117           7.7          3.8           6.7          2.2
65            6.7          3.1           4.4          1.4
141           6.9          3.1           5.1          2.3
80            5.5          2.4           3.8          1.1
10            5.4          3.7           1.5          0.2
133           6.3          2.8           5.1          1.5
30            4.8          3.1           1.6          0.2
143           6.8          3.2           5.9          2.3
68            6.2          2.2           4.5          1.5
13            4.3          3.0           1.1          0.1
74            6.4          2.9           4.3          1.3
6             4.6          3.4           1.4          0.3
5             5.4          3.9           1.7          0.4
77            6.7          3.0           5.0          1.7
139           6.9          3.1           5.4          2.1
70            5.9          3.2           4.8          1.8
140           6.7          3.1           5.6          2.4
29            4.7          3.2           1.6          0.2
78            6.0          2.9           4.5          1.5
25            5.0          3.0           1.6          0.2
76            6.8          2.8           4.8          1.4
144           6.7          3.3           5.7          2.5
122           7.7          2.8           6.7          2.0
87            6.3          2.3           4.4          1.3

In [ ]:
y_pred

array(['setosa', 'versicolor', 'virginica', 'virginica', 'virginica',
       'setosa', 'virginica', 'versicolor', 'setosa', 'versicolor',
       'versicolor', 'setosa', 'setosa', 'versicolor', 'setosa',
       'versicolor', 'virginica', 'setosa', 'versicolor', 'versicolor',
       'setosa', 'virginica', 'versicolor', 'virginica', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'virginica', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'setosa', 'virginica',
       'virginica', 'virginica', 'virginica', 'setosa', 'versicolor',
       'setosa', 'versicolor', 'virginica', 'virginica', 'versicolor'],
      dtype=object)

In [ ]:
y_test

1          setosa
99     versicolor
108     virginica
103     virginica
113     virginica
23         setosa
148     virginica
134     virginica
8          setosa
89     versicolor
75     versicolor
26         setosa
12         setosa
55     versicolor
42         setosa
92     versicolor
145     virginica
24         setosa
106     virginica
73     versicolor
28         setosa
117     virginica
65     versicolor
141     virginica
80     versicolor
10         setosa
133     virginica
30         setosa
143     virginica
68     versicolor
13         setosa
74     versicolor
6          setosa
5          setosa
77     versicolor
139     virginica
70     versicolor
140     virginica
29         setosa
78     versicolor
25         setosa
76     versicolor
144     virginica
122     virginica
87     versicolor
Name: species, dtype: object

In [ ]:
y_test==y_pred

1       True
99      True
108     True
103     True
113     True
23      True
148     True
134    False
8       True
89      True
75      True
26      True
12      True
55      True
42      True
92      True
145     True
24      True
106    False
73      True
28      True
117     True
65      True
141     True
80      True
10      True
133    False
30      True
143     True
68      True
13      True
74      True
6       True
5       True
77     False
139     True
70     False
140     True
29      True
78      True
25      True
76      True
144     True
122     True
87      True
Name: species, dtype: bool

In [ ]:
forest.predict([[1, 2.0,1,3]])

array(['setosa'], dtype=object)